
# USE_MOCK_DATA: Set to true to use static mock data instead of Firestore.
USE_MOCK_DATA=true

# PostgreSQL Configuration
PG_USER=postgres
PG_HOST=localhost
PG_DATABASE=pavan_db
PG_PASSWORD=12345678
PG_PORT=5432

# Razorpay Configuration
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
